.App {
  background: linear-gradient(145deg, #3f3e3e, #353434);
  height: 100vh;
  width: 100vw;
}

.now-playing-parent-div {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-control-container{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.playing-song-container {
  display: flex;
  flex: 5;
  justify-content: space-evenly;
}

.song-art-display-container {
  width: 65%;
  height: 45%;
  padding: 5px;
  border-radius: 50%;
  background: #3b3a3a;
  box-shadow: 14px 14px 29px #2a2a2a, -14px -14px 29px #4c4a4a;
}

.song-art-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.song-name-progress-container {
  display: flex;
  flex: 2;
  justify-content: space-evenly;

}

.controls-container{
  display: flex;
  flex: 2;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
